.top-news-container {
    width: 950px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.top-news-container_board {
    width: 470px;
    border: none;
    overflow: hidden;
}

.company-name {
    width: 70px;
    height: 20px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 5px;
}

.detail {
    width: 364px;
    height: 20px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.first-top-news-view,
.second-top-news-view {
    margin-bottom: 10px;
    display: flex;
    width: 490px;
    padding: 16px;
    border: 1px;
    background: #F5F7F9;
    position: relative;
}

.animation {
    animation: MoveDown 1s forwards;
}

@keyframes MoveDown {
    0% {
        top: 0;
    }

    100% {
        top: -60px;
    }
}

.second-top-news-view {
    animation-delay: 1s;
}

.detail:hover {
    text-decoration: underline;
}

.top-news-container:hover {
    .animation {
        animation-play-state: paused;
        z-index: 1;
    }
}